body {
  background-color: white !important;
}

p {
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1080px) {
  .alignCenterDesktop {
    align-items: center;
  }
}

@media only screen and (min-width: 1080px) {
  .mid {
    width: 75%;
  }
}

.alignCenter {
  align-items: center;
}

.wrapContainer {
  flex-wrap: wrap;
}

.legalContainer {
  flex-wrap: wrap;
}

.legalContainer p {
  color: #888888;
  line-height: 2;
}

.creditsDataContainer {
  line-height: 1.6;
}

.cleanPaddingTop {
  padding-top: 0 !important;
}